*{
  margin: 0;
  padding: 0;
  font-family:"Myriad Pro", sans-serif;
  box-sizing: border-box;
}

.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body{
  margin:0;
}
.rect_1{
  width: 100%;
    position: absolute;
    top: 0;
    left: 50;
    right: 0;
    height: 100px;
    border: 0;
  
}
/************sets image width on mixed color navbar****/
.rect_1 img{
  width: 100%;
  height: 200px;
  
}
.rect_2{
  width: 100%;
  border: 0;
    position:absolute;
    top: 1%;
    left: 50;
    right: 0;
    height: 100px;
}
/***targets both the logo and the links on the left***/
#header{
  margin: 20px 30px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}
header *{
  display: inline-block;
}
/**targets just the links***/
.contain{
 margin: 15px 0px;
 margin-top: 20px;
 margin-left: 100px;
 
}
/***targets the logo text position***/
.formheading{
  color: orangered;
  padding-left: 10px;
  width: 110px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  margin-left: 15px;
  box-shadow:  
}
.formheading i{
  color: orangered;
  font-size: 20px;
  border-radius: 20px;
}
/*targets the descriptive links container behaviour*/
 nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 15px;
  text-align: center;
 }
/**targets the link texts itself**/
 nav ul li a{
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 15px;
  font-weight:600;
 }
 nav ul li a:after{
  color: orange;
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -10px;
  box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);
  border-radius: 2px;
  transition: 0.5s;
 }
 /****controls link text on hover color****/
 nav ul li a:hover{
  color: white;
 }
 nav ul li a:hover::after{
  width: 100%;
  background-color: orangered; 
 }

/* Style the navigation bar */
.button { 
  text-decoration: none;
  left: 1300px;
  top: 15px;
  right: 0px;
  display: flex;
  position: absolute;
  text-align: center;
  }

/******style the Join Button******/
  .button h3{
    background: orangered;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 200;
    cursor: pointer;
    line-height: 2.0;
    padding: 0px 10px;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  /* Join button on mouse-over */
    .button h3:hover {
      color: orangered;
      cursor: pointer;
      transition-duration: 0.2s;    
      background-color: #fff;
    }
.elderly{
margin:0;
padding: o;
}
.elderly img{
  position: relative;
}
#vertical_text_1 {
  line-height: 4.5rem;
  position: absolute;
  font-family: inherit;
  font-size: 65px;
  font-weight: 100;
  top: 230px;
  left: 110px;
  color: whitesmoke;

  background: rgb(184, 18, 51);
  padding: 5px;
  
}
.vertical_text_2{
  position: absolute;
  line-height: 1.0rem;
  font-size: 12px;
  font-weight:400;
  font-size: 20px;
  top: 340px;
  left: 110px;
  color: whitesmoke;
  opacity: .9;
  
}
.second_button{
  font: myriad-pro;
    background: gainsboro;
    text-align: left;
    font-size: 42px;
    font-weight:lighter;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: white; 
    padding: 14px 8px;
    border-radius: 2px; 
}
/****Our Mission***/
.myDiv {
  text-align: center;
  height: 400px;
  margin-top: -4px;
  padding-top: 20px;
  background-color: rgb(239, 31, 31);
  letter-spacing: 1px;
  font-family: inherit;
}
.sub-title{
  text-align: center;
  font-weight:400;
 
  margin: 30px 0;
  padding-bottom: 30px;
  font-size: 30px; 
  color: white;
}

.myDiv p{
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: white;
}

.projection {
  background-color: white;
  color: whitesmoke;
}
.projection h1 {
  color: #fa8128;
  padding: 20px 0;
  text-align: center;
  font: 400 1.125rem / 1.5rem;
  font-weight:600;
  font-size: 35px; 
}
.circle {
  width: 205px;
  height: 205px;
  line-height: 205px;
  vertical-align: middle; 
  display: inline-block;
  border-radius: 50%;
  font-size: 65px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  background: orange;
  margin: 10px 0px 20px 0;
  margin-inline-start: 85px;
  justify-content: space-between;
  margin-inline-end: 35px;
}
.circle-text p{
  font-size: 14px;
  color: black
}
.circle span {
  font-size: 60px;
}
.text-content {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-50px,-50px);
  color: burlywood; 
  font-size: 1.5rem;
}
.impact-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0px;
}
.impact-list div{
  background-color: ash;
  padding: 0px 0px 0 35px;
  font-size: 20px;
  font-weight: 300;
}
.impact-list div i{
  font-size: 20px;
  margin-bottom: 20px;
  transition: background 0.5s, transform 0.5s;
}
.impact-list div h2{
font-size: 20px;
font-weight: bold;
margin-bottom: 10px;
text-align: center;
}
.impact-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
}
  
/*********Our Services********/
#services {
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}
.services {
  height: 315px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  cursor: pointer;
 
}
.services img {
  width: 300px;
  height: 350px;
  opacity: 0.9;
  position: relative;
  box-shadow:
  inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 2220, 0.6);
}

.across_text {
  width:300px;
  bottom: 0;
  background: rgb(39, 37, 36, 0.6);
  position: absolute;
  text-align: center;
  color: white;
  
  padding: 30px 0;
}
/***container for services***/
.container {
  background-color: crimson;
  padding: 10px 50px;
  height: 800px;
  }


/* Current/active navbar link */
.active {
  background-color: yellow;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (min-width: 57px) {
  .navbar a {
    float: none;
    display: block;
  }
}
